services:
  zookeeper:
    image: confluentinc/cp-zookeeper:5.5.1
    hostname: zookeeper
    container_name: zookeeper
    restart: on-failure
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - kafka-network
  broker:
    image: confluentinc/cp-server:5.5.1
    hostname: broker
    container_name: broker
    restart: on-failure
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
      - "9010:9010"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
      CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: broker:29092
      CONFLUENT_METRICS_REPORTER_ZOOKEEPER_CONNECT: zookeeper:2181
      CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
      CONFLUENT_METRICS_ENABLE: 'false'
      KAFKA_JMX_HOSTNAME: "127.0.0.1"
      KAFKA_JMX_PORT: 9010
    networks:
      - kafka-network
  jdbc-source-connect:
    # *-----------------------------*
    # Kafka Debezium Connector with metrics enabled
    # Metrics can be accessed on this url http://localhost:8081/metrics
    # *-----------------------------*
    build:
      context: .
      dockerfile: connect.Dockerfile
    container_name: jdbc-source-connect
    restart: on-failure
    depends_on:
      - zookeeper
      - broker
    ports:
      - "8083:8083"
      - "9012:9012"
      - "8081:8080" #metrics related port
    environment:
      GROUP_ID: 2
      BOOTSTRAP_SERVERS: broker:29092
      CONFIG_STORAGE_TOPIC: kafka_connect_configss
      OFFSET_STORAGE_TOPIC: kafka_connect_offsetss
      STATUS_STORAGE_TOPIC: kafka_connect_statusess
      KAFKA_OPTS: -javaagent:/kafka/libs/jmx_prometheus_javaagent.jar=8080:/kafka/connect/metrics/jmx-kafka-connect-config.yml
      JMXHOST: "0.0.0.0"
      JMXPORT: 9012
    volumes:
      - ./conf/jmx-kafka-connect-config.yml:/kafka/connect/metrics/jmx-kafka-connect-config.yml
    networks:
      - kafka-network
  ui:
    container_name: ui
    image: quay.io/debezium/debezium-ui
    ports:
      - "8088:8080"
    environment:
      KAFKA_CONNECT_URI: http://jdbc-source-connect:8083
    depends_on:
      - jdbc-source-connect
    networks:
      - kafka-network
  elastic-search:
    image: elasticsearch:8.4.1
    container_name: elastic-search
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms750m -Xmx750m"
    networks:
      - kafka-network
  postgres:
    # *-----------------------------*
    # To connect to the DB:
    #   docker exec -it postgres bash -c 'psql -U $POSTGRES_USER $POSTGRES_DB'
    # docker exec -it postgres bash -c 'psql -U postgres test_cdc'
    # *-----------------------------*
    image: postgres:alpine
    restart: on-failure
    container_name: postgres
    ports:
      - "5433:5432"
    command: postgres -c wal_level=logical
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=test_cdc
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - kafka-network
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9001:9090"
    depends_on:
      - jdbc-source-connect
    volumes:
      - ./prometheus:/etc/prometheus/
      - prometheus-data:/prometheus
    # *-----------------------------*
    # To refresh the targets:
    #   curl -X POST http://localhost:9001/-/reload
    # *-----------------------------*
    command: --web.enable-lifecycle  --config.file=/etc/prometheus/prometheus.yml
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge
volumes:
  prometheus-data:
  postgres-data:
